@model Metas2020.Models.CriarMetaViewModel
@{
    ViewData["Title"] = "Criar Meta";
}

<h4>Meta</h4>
<hr />

<form asp-action="CriarMeta" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-12 col-md-3">
            <label asp-for="UsuarioId"></label>
            <select asp-for="UsuarioId" asp-items="@ViewBag.Usuarios" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="UsuarioId" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <label asp-for="DataInicio"></label>
            <input asp-for="DataInicio" class="form-control datepicker" />
            <span asp-validation-for="DataInicio" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <label asp-for="AreaId"></label>
            <select asp-for="AreaId" asp-items="@ViewBag.Areas" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="AreaId" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <label asp-for="Status"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<Metas2020.Domain.Entity.Status>()" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="UsaRecursoFinanceiro" class="form-check-inline" />
        <label asp-for="UsaRecursoFinanceiro" class="form-check-label"></label>
        <span asp-validation-for="UsaRecursoFinanceiro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descricao"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Motivacao"></label>
        <textarea asp-for="Motivacao" class="form-control"></textarea>
        <span asp-validation-for="Motivacao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

